
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../assets/img/logo.web");
    font-family: Arial, Helvetica, sans-serif;

}
ul{
    list-style: none;
    
}
a{
        text-decoration: none;
        color: #000;
    }
/* header */
header{
    height: 100vh;
    background-image: url("../assets/img/banner-harley-davison.png");
    background-repeat: no-repeat;
    background-position: center;
    .container_header{
        height: 90vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .title_header{
            width: fit-content;
            height: fit-content;
            align-self: end;
            position: absolute;            
            background-color: #e8e8e880;
            margin-left: 5vw;
            margin-bottom: 10vh;
            padding: 2rem;
            
        
        }
        .logo_header{
            width: fit-content;
            height: fit-content;
            img{
                width: 8rem;
            }
        }
        .nav_header{
            width: fit-content;
            height: fit-content;
            margin-left: auto;
            padding: 20px;
            ul{
                display: flex;
                .item_nav_header{
                    margin:5px;                       
                }
                
            }
            
        }
    }
}
.item_nav_header a{
    color: #5e5e5e;
    padding: 10px;
    text-transform: uppercase; 
    font-weight: bold;
}
.item_nav_header a:hover{
    background-color: #00000080;
    color: #fff;
}
/* sobre */
.sobre{
    background-color: #c9c9c980;
    width: fit-content;
    padding: 2rem;
    margin: 0 auto;
    .title_sobre{
    font-size: 2rem;
}
    p{
    margin: 2rem 0;
    line-height: 1rem;
    font-size: 1.2rem;
    }
}
/* catalogo produtos */
.produtos{
    width: 90%;
    margin: 7rem auto;  
    .title_produtos{
    display: block;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
    .container_produtos{
    padding: 35px;
    .vitrine{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .item_vitrine{
    display: flex;
    flex-wrap: wrap;
    width:fit-content;
    background-color: #c9c9c980;
    padding: 0px 10px 20px;
    .img_vitrine{
    width:fit-content;
    padding: 20px;
    img{
    width: 320px;
    height: 230px;
}
}
}
    .button_vitrine{
    background-color: #000;
    color: #fff;
    width: 50%;
    height: fit-content;
    text-align: center;
    margin: 0.5rem auto;
    padding: 10px 20px;
}
    .button_vitrine:hover{
    background-color: #00000080;
    color: rgb(106, 120, 248);
}
    .desc_vitrine, .title_vitrine{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0.7rem auto;
}
}
}
}



