*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../assets/img/body.png");

}
ul{
    list-style: none;
    
}
a{
        text-decoration: none;
        color: #000;
    }

header{
    height: 100vh;
    background-image: url("../assets/img/banner-harley-davison.png");
    background-repeat: no-repeat;
    background-position: center;
    .container_header{
        height: 90vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .title_header{
            width: fit-content;
            height: fit-content;
            align-self: end;
            position: absolute;            
            background-color: #e8e8e880;
            margin-left: 5vw;
            margin-bottom: 10vh;
            padding: 2rem;
            
        
        }
        .logo_header{
            width: fit-content;
            height: fit-content;
            img{
                width: 8rem;
            }
        }
        .nav_header{
            width: fit-content;
            height: fit-content;
            margin-left: auto;
            padding: 20px;
            ul{
                display: flex;
                .item_nav_header{
                    margin:5px;                       
                }
                
            }
            
        }
    }
}
.item_nav_header a{
    color: #5e5e5e;
    padding: 10px;
    text-transform: uppercase; 
    font-weight: bold;
}
.item_nav_header a:hover{
    background-color: #00000080;
    color: #fff;
}

.sobre{
    background-color: #c9c9c980;
    width: fit-content;
    padding: 2rem;
    margin: 0 auto;
    .title_sobre{
    font-size: 2rem;
}
    p{
    margin: 2rem 0;
    line-height: 1rem;
    font-size: 1.2rem;
    }
}

.produtos{
    width: 90%;
    margin: 7rem auto 4rem;  
    padding: 35px;
    .container_produtos{    
    .title_produtos{
    display: block;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
    .vitrine{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .item_vitrine{
    display: flex;
    flex-wrap: wrap;
    width:fit-content;
    background-color: #c9c9c980;
    padding: 0px 10px 20px;
    .img_vitrine{
    width:fit-content;
    padding: 20px;
    img{
    width: 320px;
    height: 230px;
}
}    
    .button_vitrine{
    background-color: #000;
    color: #fff;
    width: 50%;
    height: fit-content;
    text-align: center;
    margin: 0.5rem auto;
    padding: 10px 20px;
}
.button_vitrine:hover{
    background-color: #00000080;
    color: rgb(106, 120, 248);
}
.desc_vitrine, .title_vitrine{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0.7rem auto;
}
}
}
}
}

.como-funciona{
    padding: 0 5rem;
}
.container_como-funciona{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    .title_como-funciona{
    grid-column-start: 1;
    grid-column-end:  -1;
    width: 100%;
    font-size: 2rem;
    margin-bottom: -10rem
}
    .item_como-funciona{
    width: fit-content;
    height: fit-content;
    padding: 20px;
    text-align: center;
    img{
    width: 250px;
    height: 250px;
    display: block;
    margin: 20px auto;
}
    .button_vitrine{
        display: inline-block;
        background-color: #000;
        color: #fff;
        width: fit-content;
        text-align: center;
        padding: 10px 20px;

    }
}
}
.container_footer p{
    text-align: center;
    line-height: 2rem;
}
    .link_ref{
    color: #5b5877;
}
    .link_ref:hover, .como-funciona .link_ref a:hover {
    color: #8797f3;
}
.como-funciona .link_ref{
    display: block;
    text-align: center;
    margin: 50px auto;
    font-size: 1.5rem;
}

@media (max-width: 350px){
    header .container_header .nav_header {
        margin: 7.5rem 0 0 4vw !important;}
}


@media (max-width: 426px){
    #root, body{
       width: 100%;
   }

  header{
   width: 100%;
  }
  h1{
    font-size: 1.5rem;
  }
  header .container_header .title_header {
    margin-bottom: 19vh;

}
  .container_header .logo_header{
   width: 400px;
   margin: 0 auto;
  }
  .nav_header{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
     }
  header .container_header .nav_header {
   position: absolute;
   width: fit-content;
   margin: 7.5rem 0 0 3vw;
   padding: 0px;
   background-color: rgba(0, 0, 0, 0.747);
   padding: 20px;
  }
  
  .item_nav_header a {
   color: #5e5e5e;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 0.8rem;
   padding: 5px;
   color: rgba(255, 255, 255, 0.658);
  }
  header .container_header .nav_header ul .item_nav_header {
    margin: 0px;
}
.sobre{
    padding:  1rem;
}
.sobre p {
    line-height: initial;
}
.produtos {
    width: 100%;
    margin: 1rem 0rem;
}
.produtos .container_produtos .vitrine {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}
.produtos .container_produtos .vitrine .item_vitrine {
   display: flex;
   flex-wrap: wrap;
   width: 100% !important;
   background-color: #c9c9c980;
}
.produtos .container_produtos .vitrine .item_vitrine .img_vitrine {
    width: 100%;
}
.produtos .container_produtos .vitrine .item_vitrine .img_vitrine img {
    width: 100%;
    height: fit-content;
}
.produtos .container_produtos .vitrine .item_vitrine .button_vitrine {
    width: 70% !important;
}
.como-funciona{
    padding: 0px;
}
.container_como-funciona {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
}
.container_como-funciona .item_como-funciona {
    width: 100% !important;
    height: fit-content;
    text-align: center;
}
}


@media (max-width: 427px){
header .container_header .nav_header {
    margin: 7.5rem 0 0 11vw;
   }}


   @media (max-width: 770px){
    .produtos {
        width: 100%;
        margin: 1rem 0;
    }
    .produtos .container_produtos .vitrine {
        display: flex;
        flex-wrap:wrap;
        width: 100%;
        justify-content: space-between;
    }
    .produtos .container_produtos .vitrine .item_vitrine .img_vitrine img {
        width: 100%;
        height: fit-content;
    }
    .produtos .container_produtos .vitrine .item_vitrine .button_vitrine {
        width: 90% !important;
    }
    .vitrine .item_vitrine {
        width: 45% !important;
    }
    .como-funciona {
        padding: 0 1rem;
    }
    .container_como-funciona {
        display: flex;
        flex-wrap: wrap;
    }
    .container_como-funciona .item_como-funciona {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: fit-content;
        justify-content: center;
    }
    .container_como-funciona .item_como-funciona img {
        width: 100%;
        display: block;
        margin: 20px auto;
    }
   }

   
   @media (max-width: 1040px){
    .produtos {
        width: 100%;
        margin: 1rem 0;
    }
    .produtos .container_produtos .vitrine {
        display: flex;
        flex-wrap:wrap;
        width: 100%;
        justify-content: space-between;
    }
    .vitrine .item_vitrine {
        width: 30% !important;
    }
    .produtos .container_produtos .vitrine .item_vitrine .img_vitrine img {
        width: 100%;
        height: fit-content;
    }
    .produtos .container_produtos .vitrine .item_vitrine .button_vitrine {
        width: 66%;
    }
   }